.phoneIcon:hover svg {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(7deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  85% {
    transform: rotate(7deg);
  }
  95% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
