@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-card: #e6f4f670;
  --background-light-rgb: 241, 241, 241;
  --background: white;
  --button-dark-rgb: 23, 23, 23;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  background-color: rgb(var(--background-light-rgb));
}

body {
  background-color: var(--background);
  color: rgb(var(--foreground-rgb));
}

section {
  width: 100%;
  padding: 120px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 112.5%;
  filter: drop-shadow(2px 4px 12px #00000060);
}

h2 {
  font-size: 56px;
  line-height: 112.5%;
}

h5 {
  font-size: 22px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1200px;
}

form {
  background-color: rgb(var(--background-light-rgb));
  border-radius: 1.5rem;
  padding: 2.25rem;
}

textarea {
  min-height: 48px;
}

button {
  background-color: rgb(var(--button-dark-rgb));
  color: #fff;
}

footer {
  background-color: rgb(var(--background-light-rgb));
  padding: 30px;
}

@media (max-width: 1280px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  section {
    padding: 60px;
  }

  h2 {
    font-size: 28px;
  }

  h6 {
    font-size: 0.85rem;
  }
}

@media (max-width: 639px) {
  section {
    padding: 120px 60px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
